---
- name: Remove tools that are no longer used
  pacman: name={{ item }} state=absent recurse=yes
  with_items:
    - okular
    - ctags
    - emojione-color-font
    - exfat-utils
    - lib32-apulse
    - ltrace
    - skype
    - ndenv
    - node-build
    - pkgfile
    - xf86-video-intel  # we always use KMS
    - openvpn-update-resolv-conf  # now managed by ansible directly
    - cython
    - youtube-dl  # done through pyenv
    - frogr
    - wdiff
    - urlscan
    - xorg-xgamma
    - laptop-mode
    - docker
    - netatop-dkms
    - netatop
    - gvfs-mtp
    - mtpfs
    - mcelog  # not in community or aur any more
    - cronie
    - jfsutils
    - nano
    - pcmciautils
    - reiserfsprogs
    - s-nail
    - evince
    - acpi
    - vlock-original
    - screenkey
    - xprintidle
    - nodenv
    - nodenv-node-build
    - prompter
    - gnome-icon-theme
    - arch-install-scripts
    - autossh
    - colordiff
    - pinta
    - lshw
    - gthumb
    - libreoffice-fresh
    - xautolock
    - xbanish
    - logrotate
    - perf
    - wireshark-cli
    - nmap
    - tcpdump
    - nethogs
    - alsa-utils
    - notmuch
    - notmuch-mutt
    - isync
    - openvpn
    - ntp
    - firefox-unbranded-bin
    - chromium

- name: Remove unused files
  file: path={{ item }} state=absent
  with_items:
    - /etc/udev/rules.d/99-deadline-for-ssd.rules
    - /etc/cron.d/clear-corrupt-journals
    - /etc/modprobe.d/99-i915.conf
    - /etc/systemd/system/localepurge.service
    - /etc/systemd/system/localepurge.timer
    - /usr/local/bin/powertargets
    - /etc/acpi/events/ansible
    - /etc/X11/xorg.conf.d/99-xorg-intel-tearing.conf
    - /etc/modules-load.d/no-wifi-power-save.conf

- name: Remove old crons (now timers)
  file: path={{ item }} state=absent
  with_items:
    - /etc/cron.d/download-updates
    - /etc/cron.d/clean-cache
    - /etc/cron.d/fstrim
    - /etc/cron.d/i8kfan
    - /etc/cron.d/pkgfile
    - /etc/cron.d/purge-atop-logs
    - /etc/cron.d/reflector

- name: Mask undesirable services that remain for dependency reasons
  systemd: name={{ item }} state=stopped enabled=no masked=yes
  with_items:
    - lvm2-lvmetad
    - upower
