[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cache-updates

# If we're on a slow connection, don't prolong the inevitable
TimeoutSec=30
