[Service]
Type=oneshot
ExecStart=/bin/reflector \
    -c 'United Kingdom' -c Netherlands -c 'United States' -c 'Hong Kong' \
    -f 6 --protocol http --sort delay --save /etc/pacman.d/mirrorlist
