[Unit]
Description=Lock the screen on resume from suspend

[Service]
User={{ key_user }}
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/lockphyslock -s

[Install]
WantedBy=suspend.target hibernate.target sleep.target battery.target
